.THIS {
    background-color:grey;   
}

.THIS .White{
    background-color:White;
}
.THIS .red{
    background-color:red;
}

.THIS .blue{
    background-color:blue;
}
.THIS .Orange{
    background-color:Orange;
}